.kaufman__triangle {
  width: 877px;
  height: 877px;
  box-sizing: border-box;
  position: absolute;
  background-image: url(../../../images/kaufman-triangle.svg);
  background-repeat: no-repeat;
  background-size: 877px 877px;
  top: 0;
  right: -210px;
}
